*{
    padding:0;
    margin:0;
}

.landing-wrap {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;   
    background-image:url('../assets//image/land.jpg')
}

.landing-wrap a {
    font-size:48px;
    text-decoration: none;
    background-color: #e8e8e7;
    color:#191919;
    text-decoration: none;
    box-shadow: 5px 5px #ff2828;
    display:flex;
    justify-content: center;
    padding:1rem;
}

.landing-wrap p {
    padding-top:1rem;
    color:#e8e8e7;
}
.landing-wrap a:hover {
    background-color:#ff2828;
}